

@model List<XMLKeyModel>
@{
    ViewData["Title"] = "Home Page";
}
    <form>
        <input type="submit" formaction="/Home/GetBigListAsync" value="Прочитать все XML файлы" />
    </form>


<div class="jumbotron">
    <h1>CleverTec Technology</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to CleverTec Technology Localization Repository</h2>
        <p>
            This site is designed to store
            textual information about
            the localization of the applications.
        </p>
    </div>
</div>